@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    width: 1440px;
    height: 1024px;
    background-color: #f9f9f9;
}

.menu-container {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0px 24px 0px 24px;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
}

.menu-container #menu-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 146px;
    height: 24px;
}

.menu-container #menu-left #youtube-logo {
    width: 90px;
    height: 20px;
    position: relative;
    top: 18px;
    left: 80px;
}

.menu-container #menu-left #menu-button {
    width: 24px;
    height: 24px;
    position: relative;
    top: 16px;
    left: 24px;
}

.menu-container #menu-center  {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
    width: 404px;
    height: 40px;
    border: 1px solid #ccc;
}

.menu-container #menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 34px;
    gap: 24px;
}

.menu-container #menu-right #video-menu {
    width: 24px;
    height: 24px;
}

.menu-container #menu-right #bell {
    width: 24px;
    height: 24px;
}

.menu-container #menu-right #avatar img {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    position: relative;
    top: 5px;
}

.watching-video  {
    width: 952px;
    height: 746px;
    gap: 16px;
    position: relative;
    top: 28px;
    left: 75px;
    display: flex;
    flex-direction: column;
}

.watching-video #thumbnail {
    width: 952px;
    height: 537px;
}

.watching-video #video-title {
    display: flex;
    width: 871px;
    height: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23.44px;
    color: #000;
    align-items: center;
}

.watching-video .video-actions #channel-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 902px;
    height: 42px;
    gap: 42px;
}

.watching-video .video-actions #channel-info #channel-logo {
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 42px;
    gap: 12px;
}

.watching-video .video-actions #channel-info #channel-logo img{
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.watching-video .video-actions #channel-info #channel-logo p{
    flex-wrap: wrap;
    width: 106px;
    height: 32px;
    font-weight: 600;
    font-size: 15px;
}

.watching-video .video-actions #channel-info #channel-logo p span{
    width: 106px;
    height: 32px;
    font-weight: 600;
    font-size: 11px;
    color: #515151;
}