@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --primary-background: #f9f9f9;
  --text-color: #000;
  --secondary-text-color: #515151;
  --border-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  
}

body {
    background-color: var(--primary-background);
}

.menu-container {
    /* Remova a largura fixa e adicione margens para espaçamento nas laterais */
    max-width: 100%;
    margin: 0 24px;
    height: 56px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

.menu-container #menu-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 146px;
    height: 24px;
}

.menu-container #menu-left #youtube-logo {
    width: 90px;
    height: 20px;
    position: relative;
    top: 18px;
    left: 80px;
}

.menu-container #menu-left #menu-button {
    width: 24px;
    height: 24px;
    position: relative;
    top: 16px;
    left: 24px;
}

.menu-container #menu-center  {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
    width: 404px;
    height: 40px;
    border: 1px solid #ccc;
}

.menu-container #menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 34px;
    gap: 24px;
}

.menu-container #menu-right #video-menu {
    width: 24px;
    height: 24px;
}

.menu-container #menu-right #bell {
    width: 24px;
    height: 24px;
}

.menu-container #menu-right #avatar img {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    position: relative;
    top: 5px;
}

.watching-video  {
    width: 952px;
    height: 746px;
    gap: 16px;
    position: relative;
    top: 28px;
    left: 75px;
    display: flex;
    flex-direction: column;
}

.watching-video #thumbnail img {
    width: 1400px;
    height: 800px;
}

.watching-video #video-title {
    display: flex;
    width: 871px;
    height: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23.44px;
    color: #000;
    align-items: center;
}

.watching-video .video-actions #channel-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 902px;
    height: 42px;
    gap: 42px;
}

.watching-video .video-actions #channel-info #channel-logo {
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 42px;
    gap: 12px;
}

.watching-video .video-actions #channel-info #channel-logo img{
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.watching-video .video-actions #channel-info #channel-logo p{
    flex-wrap: wrap;
    width: 106px;
    height: 32px;
    font-weight: 600;
    font-size: 15px;
}

.watching-video .video-actions #channel-info #channel-logo p span{
    width: 106px;
    height: 32px;
    font-weight: 600;
    font-size: 11px;
    color: #515151;
}

.watching-video .description {
    display: flex;
    flex-direction: column;
}

.watching-video .description #view {
    width: 100%;
    height: 16px;
    position: relative;
    top: 5px;
}

.watching-video .description #view p{
    font-size: 13px; 
    font-weight: 600;
    color: #000;
}

.watching-video .description #view p a{
    text-decoration: none;
    color: #000;
}

.watching-video .description #video-description {
    width: 510px;
    height: auto;
    position: relative;
    top: 15px;
}

.watching-video .description #video-description p{
    font-size: 13px; 
    font-weight: 400;
    color: #515151;
}

.watching-video .description #video-description p a{
    text-decoration: none;
    color: #515151;
}

.side-bar {
    width: 100%;
    max-width: 160px;
    position: relative;
    height: 90px;
    display: flex;
    flex-direction: column;
    bottom: 718px;
    left: 1550px;
}

.side-bar .side-bar-video #thumb img{
    width: 160px;
    height: 90px;
}

.side-bar .side-bar-video #infos{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 90px;
}

.side-bar .side-bar-video #infos #video-title h2{
    position: relative;
    left: 176px;
    font-size: 14px;
    font-weight: 600;
}

.side-bar .side-bar-video #infos #video-channel p{
    position: relative;
    left: 176px;
    font-size: 12px;
    font-weight: 400;
    color: #515151;
}

.side-bar .side-bar-video #infos #views p{
    position: relative;
    left: 176px;
    font-size: 12px;
    font-weight: 400;
    color: #515151;
}
